* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* makes 1rem 10px */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem; /* default font of 16px */
  line-height: 1.3;
  color: #373737;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --normal-text-color: #f9fafb;
  --id-text-color: #0000003b;
  --tag-bg-color: #ffffff3f;
  --button-color: #a040a0;
}

.app {
  width: 60rem;
  margin: 5rem auto;
}

.app-header {
  font-size: 3.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  margin: 5rem 0;
}

@media (max-width: 900px) {
  .cards-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 680px) {
  .app {
    width: auto;
  }
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 460px) {
  html {
    font-size: 50%; /* makes 1rem 10px */
  }
}
