.buttons-container {
  display: flex;
  margin-top: 3.2rem;
  gap: 1rem;
}

.button {
  width: 15rem;
  padding: 1rem 0;
  color: var(--normal-text-color);
  background-color: var(--button-color);
  border: none;
  border-radius: 10rem;
  font-size: 1.8rem;
  font-weight: bold;
}
