.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.input-container {
  display: flex;
}

input {
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #78c8504d;
  border-radius: 5rem 0 0 5rem;
  font-size: 1.8rem;
}

button {
  background-color: #78c8504d;
  border-radius: 0 5rem 5rem 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.8rem;
  border: none;
}

.error-color {
  background-color: #c030283f;
}

.error-message {
  color: #c03028da;
  font-size: 1.2rem;
}
